<!DOCTYPE html>
<html>

<head>

    <title>Credit Society</title>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

    <h2>Credit Society</h2>

    <a href="/">Dashboard</a>

    <a href="/members">Members</a>

    <a href="/savings">Savings</a>

    <a href="/loans">Loans</a>

    <a href="/maintenance">Maintenance</a>

    <a href="/recurring-deposit">
        Recurring Deposit
    </a>

</nav>


<div class="container">

    {% block content %}
    {% endblock %}

</div>

</body>

</html>